<div id="<%= dom_id calender %>">
  <p>
    <strong>Day:</strong>
    <%= calender.day %>
  </p>

  <p>
    <strong>Begin time:</strong>
    <%= calender.begin_time %>
  </p>

  <p>
    <strong>Close time:</strong>
    <%= calender.close_time %>
  </p>

  <p>
    <strong>Interval s:</strong>
    <%= calender.interval_s %>
  </p>

  <p>
    <strong>Interval e:</strong>
    <%= calender.interval_e %>
  </p>

  <p>
    <strong>Unit minute:</strong>
    <%= calender.unit_minute %>
  </p>

  <p>
    <strong>No use:</strong>
    <%= calender.no_use %>
  </p>

</div>
