<div id="<%= dom_id occupation %>">
  <p>
    <strong>User:</strong>
    <%= occupation.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= occupation.room_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= occupation.day %>
  </p>

  <p>
    <strong>Time s:</strong>
    <%= occupation.time_s %>
  </p>

  <p>
    <strong>Time e:</strong>
    <%= occupation.time_e %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= occupation.reservation %>
  </p>

  <p>
    <strong>Confirmed:</strong>
    <%= occupation.confirmed %>
  </p>

</div>
