<div id="<%= dom_id regulation %>">
  <p>
    <strong>Begin time:</strong>
    <%= regulation.begin_time %>
  </p>

  <p>
    <strong>Close time:</strong>
    <%= regulation.close_time %>
  </p>

  <p>
    <strong>Interval s:</strong>
    <%= regulation.interval_s %>
  </p>

  <p>
    <strong>Interval e:</strong>
    <%= regulation.interval_e %>
  </p>

  <p>
    <strong>Unit minute:</strong>
    <%= regulation.unit_minute %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= regulation.version %>
  </p>

</div>
