<!DOCTYPE html>
<html>
  <head>
    <title>Rvue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navi' %>
    <main class="container mx-auto mt-28 px-5 flex">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-pink-500 font-medium rounded-lg inline-block"><%= alert %></p>
    <% end %>

      <%= yield %>
    </main>
  </body>
</html>
